* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, system-ui, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: peachpuff;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.myntra_home {
  height: 45px;
  /* because it is image so by giving height , it will work */
  /* width: 53px; */
}
.logo_container {
  margin-left: 4%;
}

.action_bar {
  margin-right: 4%;
}

.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-between;
}

/* Grouping selectors */
.nav_bar a {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  /*  font weight can be 100 to 900 */
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.nav_bar a sup {
  font-size: 10px;
  color: #ff3f6c;
}

.search_bar {
  height: 40px;
  min-width: 400px;
  display: flex;
  align-items: center;
}
.search_icon {
  box-sizing: content-box;
  height: 21px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  border-radius: 4px 0 0 4px;
  font-weight: 300;
}
.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
}
